.mapa {
   height: 670px !important;
   width: 100%;
}

.you {
   border: solid #b31412 5px;
   width: 40px;
   height: 20px;
   background-color: #ea4335;
}

.gym {
   border: solid black 5px;
   width: 40px;
   height: 20px;
   background-color: #ffee00ff;
}

.gymsWrapper {
   overflow-y: auto;
   overflow-x: hidden;
   height: 650px;
}

.p {
   text-shadow: 1px 1px 3px black, -1px -1px 3px black;
   font-size: 14px;
   letter-spacing: 1px;
}

.cursor {
   width: 7px;
   height: 7px;
   background-color: #d73502;
   position: relative;
   border-radius: 50%;
}

.cursor::before {
   content: "";
   position: absolute;
   inset: -4px;
   border-radius: 50%;
   border: 2px solid #d73502;
   animation: wave 2s infinite;
}

#foto {
   width: 65%;
}

@keyframes wave {
   0% {
      scale: 0;
      opacity: 0;
   }
   30% {
      opacity: 1;
   }
   100% {
      opacity: 0;
      scale: 1.5;
   }
}

@media screen and (max-width: 1200px) {
   .gymsWrapper {
      height: auto;
   }
   .gymsWrapper > div {
      flex-basis: 49%;
   }
   .mapa {
      height: 600px !important;
   }
}

@media screen and (max-width: 992px) {
   .gymsWrapper > div {
      flex-basis: 100%;
   }
   .mapa {
      height: 500px !important;
   }
}

@media screen and (max-width: 768px) {
   .mapa {
      height: 450px !important;
   }
}

@media screen and (max-width: 450px) {
   .mapa {
      height: 350px !important;
   }
}
