.mapa {
   height: 700px !important;
   width: 100%;
}

.you {
   border: solid #b31412 5px;
   width: 40px;
   height: 20px;
   background-color: #ea4335;
}

.gym {
   border: solid black 5px;
   width: 40px;
   height: 20px;
   background-color: #ffee00ff;
}

.cardImg {
   width: 150px;
   height: 130px;
   object-fit: cover;
}

.gymsWrapper {
   overflow-y: auto;
   overflow-x: hidden;
   height: 650px;
}

.endereco {
   width: 60%;
}