.cardImg {
   width: 170px;
   height: 155px;
   object-fit: cover;
}

.endereco {
   width: 60%;
}

.body {
   height: fit-content;
}

#verFotosBtn {
   padding: 2px 6px;
   opacity: 0;
   transition: all .3s ease-out;
}

.body:hover #verFotosBtn {
   opacity: 1;
}

#verFotosBtn:hover {
   scale: 1.02;
}

@media screen and (max-width: 1400px) {
   .cardImg {
      width: 135px;
   }
}

@media screen and (max-width: 1200px) {
   .cardImg {
      width: 170px;
   }
}

@media screen and (max-width: 992px) {
   .endereco {
      width: 80%;
   }
}

@media screen and (max-width: 540px) {
   .endereco {
      width: 50%;
   }
}

@media screen and (max-width: 576px) {
   .cardImg {
      width: 100%;
      height: 185px;
   }

   .endereco {
      width: calc(100vw - 50px);
   }
}
