[data-bs-theme="dark"] #ct {
   background-color: rgb(31, 30, 30);
   background-image: radial-gradient(at 19% 60%, hsla(323, 38%, 11%, 1) 0px, transparent 50%),
      radial-gradient(at 82% 41%, hsla(262, 33%, 17%, 1) 0px, transparent 50%);
}

[data-bs-theme="light"] #ct {
   background-color: hsla(253, 0%, 99%, 1);
   background-image: radial-gradient(at 13% 56%, hsla(0, 2%, 91%, 1) 0px, transparent 50%),
      radial-gradient(at 65% 45%, hsla(25, 21%, 88%, 1) 0px, transparent 50%),
      radial-gradient(at 46% 6%, hsla(321, 8%, 91%, 1) 0px, transparent 50%),
      radial-gradient(at 33% 18%, hsla(13, 0%, 100%, 1) 0px, transparent 50%),
      radial-gradient(at 79% 26%, hsla(180, 22%, 86%, 1) 0px, transparent 50%),
      radial-gradient(at 2% 37%, hsla(34, 21%, 92%, 1) 0px, transparent 50%),
      radial-gradient(at 59% 30%, hsla(111, 18%, 89%, 1) 0px, transparent 50%);
}

#tit {
   color: #1f6bc1;
   font-weight: 600;
}

#small {
   font-size: 16px;
}

#ct i {
   line-height: 0 !important;
}

#icon1 {
   background-color: #ffeacd;
   color: #ce8d01 !important;
}

#icon2 {
   background-color: #ddedf0;
   color: #09808d !important;
}

#icon3 {
   background-color: #ffd7fb;
   color: #572552 !important;
}

.noBestTrain {
   width: 83%;
}

@media screen and (max-width: 1400px) {
   #small {
      font-size: 15px !important;
   }

   .noBestTrain {
      width: 98%;
   }
}

@media screen and (max-width: 1200px) {
   .noBestTrain {
      width: 95%;
   }
}

@media screen and (max-width: 570px) {
   .noBestTrain {
      width: 80%;
      margin-top: 1rem;
   }
}
