#tit {
   color: #1f6bc1;
   font-weight: 600;
}

#small {
   font-size: 16px;
}

.chart {
   width: 100% !important;
   height: auto !important;
}

.foto {
   height: 310px;
   width: 100%;
   object-fit: cover;
}

.fotoLoad {
   height: 330px;
   width: 100%;
   display: block !important;
}

#ct i {
   line-height: 0 !important;
}

#icon1 {
   background-color: #ffeacd;
   color: #ce8d01 !important;
}

#icon2 {
   background-color: #ddedf0;
   color: #09808d !important;
}

#icon3 {
   background-color: #ffd7fb;
   color: #572552 !important;
}

.chartLoad {
   height: 230px;
   width: 100%;
   display: block !important;
   border-radius: 5px;
}

.pieChartLoad {
   width: 100%;
   height: 300px;
   display: block !important;
   border-radius: 5%;
}

.noProgress > img {
   width: 85%;
   max-width: 330px;
}

.noBestTrain {
   width: 83%;
}

@media screen and (max-width: 1400px) {
   .foto {
      height: 250px;
   }

   #small {
      font-size: 15px !important;
   }

   .noProgress > img,
   .noBestTrain {
      width: 98%;
   }
}

@media screen and (max-width: 1200px) {
   .foto {
      height: 350px;
   }

   .fotoLoad {
      height: 390px;
   }

   .noProgress > img {
      width: 75%;
   }

   .noBestTrain {
      width: 95%;
   }
}

@media screen and (max-width: 992px) {
   .foto {
      height: 320px;
   }

   .fotoLoad {
      height: 350px;
   }
}

@media screen and (max-width: 830px) {
   .foto {
      height: 270px;
   }

   .fotoLoad {
      height: 300px;
   }

   .noProgress > img {
      width: 95%;
   }
}

@media screen and (max-width: 666px) {
   .foto {
      height: 270px;
   }
}

@media screen and (max-width: 570px) {
   .foto {
      height: auto;
   }

   .noBestTrain {
      width: 80%;
      margin-top: 1rem;
   }
}
