#tit {
   color: #1f6bc1;
   font-weight: 600;
}

#small {
   font-size: 16px;
}

.chart {
    width: 100% !important;
    height: auto !important;
}

.foto {
    height: 310px;
    width: 100%;
    object-fit: cover;
}

#ct i {
    line-height: 0 !important;
 }
 
 #icon1 {
    background-color: #ffeacd;
    color: #ce8d01 !important;
 }
 
 #icon2 {
    background-color: #ddedf0;
    color: #13cce0 !important;
 }
 
 #icon3 {
    background-color: #ffd7fb;
    color: #572552 !important;
 }
 