#ct td {
   vertical-align: middle;
}

#ct table th {
   font-size: 16px;
}

#ct table {
   font-size: 16px;
}

#ct table th,
#ct table td {
   white-space: nowrap;
}

#foto {
   width: 42px;
   height: 42px;
}

#tabs a {
   color: var(--bs-secondary) !important;
}

@media screen and (max-width: 1200px) {
   #ct table th {
      font-size: 14px;
   }
   #ct table {
      font-size: 15px;
   }
   #tableWrapper {
      width: 100%;
      overflow-x: scroll;
   }
}

@media screen and (max-width: 500px) {
   #foto {
      width: 35px;
      height: 35px;
   }

   #ct table,
   #ct table th {
      font-size: 14px;
   }
}
