#tit {
   color: #1f6bc1;
}

.foto {
   height: 310px;
   width: 100%;
   object-fit: cover;
}

.fotoLoad {
   height: 330px;
   width: 100%;
   display: block !important;
}

.noBestTrain {
   height: 310px;
   width: auto;
}

@media screen and (max-width: 1200px) {
   .foto,
   .noBestTrain {
      height: 350px;
   }

   .fotoLoad {
      height: 390px;
   }
}

@media screen and (max-width: 992px) {
   .foto, .noBestTrain {
      height: 320px;
   }

   .fotoLoad {
      height: 350px;
   }
}

@media screen and (max-width: 830px) {
   .foto {
      height: 270px;
   }

   .fotoLoad {
      height: 300px;
   }
}

@media screen and (max-width: 666px) {
   .foto {
      height: 270px;
   }
}

@media screen and (max-width: 570px) {
   .foto {
      height: auto;
   }

   .noBestTrain {
      width: 80%;
      margin-top: 1rem;
   }
}
