#fotoBanner {
   height: 80vh;
}

#titulo {
   font-size: 4em;
   font-weight: 800;
}

/* #ctFoto {
   border-bottom-left-radius: 50px;
} */

#textoOverflow {
   position: absolute;
   right: -30px;
   z-index: -1;
   font-size: 7em;
   font-weight: 900;
   opacity: 0.1;
   line-height: 116px;
   bottom: 0;
}

#gymIcon {
   width: 50px;
}
