#fotoBanner {
   height: 80vh;
}

#titulo {
   font-size: 4em;
   font-weight: 800;
}

#ctFoto {
   z-index: 1;
}

#textoOverflow {
   font-size: 7em;
   font-weight: 900;
   opacity: 0.1;
   line-height: 116px;
   text-wrap: nowrap;
   z-index: 0;
}
#animacao {
   animation: deslizar 15s linear infinite alternate;
   animation-play-state: running;
   position: absolute;
   bottom: 0;
}

#animacao:hover {
   animation-play-state: paused;
}

@keyframes deslizar {
   100% {
      transform: translateX(-100%);
   }
}

#gymIcon {
   width: 50px;
}

#bg1 {
   opacity: 0.2;
}

#textOverlay {
   text-shadow: 0 0 4px black;
   letter-spacing: 1.3px;
   bottom: 20%;
   color: white;
}

#titbanner {
   font-size: 4rem;
   font-weight: 800;
   text-shadow: 0 0 2px black;
}
