#foto {
   width: 42px;
   height: 42px;
}

.td {
   vertical-align: middle;
}

.chart {
   width: 100% !important;
   height: auto !important;
}

#small {
font-size: 15px;
}

#textNormal {
   font-size: 16px;
}



@media screen and (max-width: 500px) {
   #foto {
      width: 35px;
      height: 35px;
   }
}
