.foto {
   width: 42px;
   height: 42px;
}

.td {
   vertical-align: middle;
}

.chart {
   width: 100% !important;
   height: auto !important;
}

#small {
   font-size: 15px;
}

#textNormal {
   font-size: 16px;
}

#ctSlider {
   width: 600px;
}

.trofeu {
   width: 25px;
}

@media screen and (max-width: 1300px) {
   #usuario {
      min-width: 198px;
   }
}

@media screen and (max-width: 720px) {
   #ctSlider {
      width: 450px;
   }
}

@media screen and (max-width: 500px) {
   .foto {
      width: 35px;
      height: 35px;
   }

   #ctSlider {
      width: 385px;
   }

   .trofeu {
      width: 20px;
   }
}

@media screen and (max-width: 400px) {
   #ctSlider {
      width: 310px;
   }
}
