#fotoBanner {
   height: 80vh;
}

#titulo {
   font-size: 4em;
   font-weight: 800;
}

#ctFoto {
   z-index: 1;
}

#textoOverflow {
   font-size: 7em;
   font-weight: 900;
   opacity: 0.1;
   line-height: 116px;
   text-wrap: nowrap;
   z-index: 1;
}
#animacao {
   animation: deslizar 15s linear infinite alternate;
   animation-play-state: running;
   position: absolute;
   bottom: 0;
}

#animacao:hover {
   animation-play-state: paused;
}

#bg2 {
   background-image: url("../../assets/bg1.jpg");
   background-size: cover;
}

#bg2 > div {
}

#bgdark {
   background-color: rgba(0, 0, 0, 0.788);
   height: 100%;
}

@keyframes deslizar {
   100% {
      transform: translateX(-100%);
   }
}

#gymIcon {
   width: 50px;
}

#bg1 {
   opacity: 0.2;
}

#textOverlay {
   text-shadow: 0 0 4px black;
   letter-spacing: 1.3px;
   bottom: 20%;
   color: white;
}

#titbanner {
   font-size: 3.3rem;
   font-weight: 800;
   text-shadow: 0 0 2px black;
}

.loadCateg {
   height: 160px;
}

/* Magic Pattern */
#banInicial {
   background-color: #ececec;
   background-image: linear-gradient(#6c757d 1px, transparent 1px), linear-gradient(to right, #6c757d 1px, #ececec 1px);
   background-size: 190px 190px;
}

[data-bs-theme="dark"] #banInicial {
   background-color: #212529;
   background-image: linear-gradient(#6c757d 1px, transparent 1px), linear-gradient(to right, #6c757d 1px, #212529 1px);
   background-size: 190px 190px;
}

@media screen and (max-width: 1440px) {
   #fotoBanner {
      height: 650px;
   }
   #titulo {
      font-size: 3.5em;
   }
}

@media screen and (max-width: 1200px) {
   #titulo {
      font-size: 3em;
   }
   #fotoBanner {
      height: 600px;
   }
}

@media screen and (max-width: 992px) {
   #fotoBanner {
      height: 400px;
   }
   #titulo {
      font-size: 2.5em;
   }
   #textoOverflow {
      font-size: 4rem;
   }

   #titbanner {
      font-size: 2.8rem;
   }
}

@media screen and (max-width: 650px) {
   #titulo {
      font-size: 2.1em;
   }

   #titbanner {
      font-size: 2.1rem;
   }
}

@media screen and (max-width: 500px) {
   #fotoBanner {
      height: 310px;
   }

   #titulo {
      font-size: 1.8em;
   }

   #subBanner {
      font-size: 16px !important;
   }

   #titbanner {
      font-size: 1.7rem;
   }
}
