#ctFoto img {
   width: 170px;
   height: 170px;
}

#ctFoto {
   border-radius: 50%;
   width: fit-content;
}

@media screen and (max-width: 992px) {
   #fotoBanner {
      height: 350px;
   }
}

@media screen and (max-width: 760px) {
   #fotoBanner {
      height: 270px;
   }
}


@media screen and (max-width: 450px) {
   #fotoBanner {
      height: 150px;
   }
}
