#fotoUsuario {
   height: 33px;
   width: 33px;
   cursor: pointer;
}

#seta::after,
#seta::before {
   content: none;
}


@media screen and (max-width: 575px) {
   #fotoUsuario {
      height: 70px;
      width: 70px;
   }   
}