/* Bibliotecas */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

/* Google Font: Rubik */
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

/* Reset */
* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

img {
   max-width: 100%;
}

a {
   text-decoration: none !important;
}

body {
   max-width: 100%;
   overflow-x: hidden;
   font-family: "Rubik", serif !important;
}

html {
   overflow-x: hidden;
}

.App {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   min-height: 100dvh;
}

/*  Modificação do Bootstrap  */
.list-group-item.active {
   background-color: rgb(20, 17, 17) !important;
   color: var(--bs-text-color) !important;
   border-color: rgb(209, 209, 209) !important;
}
.list-group-item.active img {
   filter: grayscale(100%) !important;
}
.navbar-nav .nav-link {
   text-decoration: underline 0.15em rgba(0, 0, 0, 0) !important;
   transition: all 300ms !important;
   line-height: 0 !important;
}
.navbar-nav .nav-link.active {
   font-weight: 500;
   text-decoration: underline 0.15em #201e1e !important;
}
.navbar-nav .nav-link:hover {
   text-decoration-color: #201e1e !important;
}

/*  Slick Slider  */
.slick-arrow {
   height: 40px !important;
   width: 40px !important;
   padding: 5px !important;
   background-color: black !important;
   color: white !important;
   z-index: 100 !important;
   border-radius: 6px !important;
}

.slick-disabled {
   opacity: 0 !important;
}
[data-bs-theme="dark"] .slick-dots li button::before {
   color: white !important;
}

.slick-dots li button::before {
   font-size: 14px !important;
   color: rgb(230, 247, 0);
}

@media screen and (max-width: 587px) {
   .slick-arrow {
      height: 30px !important;
      width: 30px !important;
   }
   .slick-prev {
      left: -8px !important;
   }
   .slick-next {
      right: -8px !important;
   }

   .videos .slick-dots {
      bottom: -50px !important;
   }
}
