#ct {
   font-size: 19px !important;
}

#logo {
   width: 170px;
}

#toggle {
   font-size: 2rem;
   line-height: 0;
}

@media screen and (max-width: 1400px) {
   #ct {
      font-size: 17px !important;
   }
}

@media screen and (max-width: 1400px) {
   #ct {
      font-size: 22px !important;
   }
}

@media screen and (max-width: 576px) {
   #logo {
      width: 162px;
   }

    #ct {
      font-size: 20px !important;
   }
}
