#border {
   border-inline: 1px dashed grey;
}

@media screen and (max-width: 992px) {
   #border {
      border-right: none;
   }
}

@media screen and (max-width: 600px) {
   #bg {
      height: 100% !important;
      width: 100% !important;
   }
}

@media screen and (max-width: 442px) {
   #label {
      font-size: 1rem !important;
   }
}
