#left {
   background-color: transparent;
   background-image: linear-gradient(to left top, #1aa7ec00 50%, #b6b1af 55%);
}

.equipamento {
   width: 250px;
}

.musculo {
   width: 320px;
   height: 320px;
   object-fit: cover;
}

#sepMobile {
   border-style: dashed !important;
}

@media screen and (max-width: 1200px) {
   .equipamento {
      width: 200px;
   }
}

@media screen and (max-width: 768px) {
   #labelDetalhes {
      font-size: 19px !important;
   }
   .musculo {
      width: auto;
      height: auto;
   }

   #tit2 {
      font-size: 1.6rem !important;
   }
}

@media screen and (max-width: 576px) {
   #tit2 {
      font-size: 1.4rem !important;
   }
}
