#left {
   background-color: transparent;
   background-image: linear-gradient(to left top, #1aa7ec00 50%, #b6b1af 55%);
}

.left_dark {
   background-image: linear-gradient(to left top, #1aa7ec00 50%, #6c757d 55%) !important;
}

.equipamento {
   width: 250px;
}

.musculo {
   width: 320px;
   height: 320px;
   object-fit: cover;
}

#sepMobile {
   border-style: dashed !important;
}

.loadFotoExercicio {
   height: 100%;
   display: block !important;
}

.parteDoCorpoLoad {
   display: block !important;
   height: 220px;
   width: 350px;
}

.loadEquipamento {
   display: block !important;
   height: 220px;
   width: 350px;
   margin-inline: auto;
}

@media screen and (max-width: 1400px) {
   .loadEquipamento {
      height: 170px;
   }
}

@media screen and (max-width: 1200px) {
   .equipamento {
      width: 200px;
   }

   .loadFotoExercicio {
      width: 400px;
      height: 400px;
   }

   .loadEquipamento {
      width: 300px;
   }

   .parteDoCorpoLoad {
      height: 160px;
   }
}

@media screen and (max-width: 992px) {
   .parteDoCorpoLoad {
      width: 230px;
   }

   .loadEquipamento {
      width: 190px;
   }
}

@media screen and (max-width: 768px) {
   #labelDetalhes {
      font-size: 19px !important;
   }
   .musculo {
      width: auto;
      height: auto;
   }

   #tit2 {
      font-size: 1.6rem !important;
   }

   .loadEquipamento {
      height: 160px;
      width: 135px;
   }
}

@media screen and (max-width: 576px) {
   #tit2 {
      font-size: 1.4rem !important;
   }

   .loadFotoExercicio {
      width: 400px;
      height: 300px;
      margin-bottom: 0.8rem;
   }
}

@media screen and (max-width: 410px) {
   .loadFotoExercicio {
      height: 230px;
   }
}
