/* Bibliotecas */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

/* Reset */
* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

img {
   object-fit: cover;
}

a {
   text-decoration: none;
}

body {
   max-width: 100%;
   overflow-x: hidden;
}

/*  Modificação do Bootstrap  */
.list-group-item.active {
   background-color: transparent !important;
   color: var(--bs-text-color) !important;
   border-color: rgb(209, 209, 209) !important;
   border-top: 4px solid black !important;
}

/*  Slick Slider  */
.slick-arrow {
   height: 40px !important;
   width: 40px !important;
   padding: 5px !important;
   background-color: black !important;
   color: white !important;
   z-index: 100 !important;
   border-radius: 6px !important;
}

.slick-disabled {
   opacity: 0 !important;
}

.slick-arrow::before {
}
